/* Main Stylesheet */

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

#ng-view {
    position: relative;
    padding-top: 60px;
}

.capitalize {
  text-transform: capitalize;
}

.tool-box {
  padding: 10px 10px;
}

button.btn.btn-link:hover {
  opacity: 0.8;
}

span.ms-error-message {
  color: red;
}

div.ms-header {
  margin-bottom: 20px;
}

form {
  padding-top: 20px;
}

.noResultsText {
  text-align: center;
  padding: 80px;
  color: #999;
}

.modal-header.primary {
  background-color: #337ab7;
  color: #FFF;
}

.modal-header.danger {
  background-color: #d9534f;
  color: #FFF;
}

.modal-header.warning {
  background-color: #f0ad4e;
  color: #FFF;
}

.modal-header.success {
  background-color: #5cb85c;
  color: #FFF;
}

.modal-header.info {
  background-color: #5bc0de;
  color: #FFF;
}

div.scrollable {
  overflow-y: auto;
  height: 80vh;
  padding: 10px 10px;
}

.no-content {
  background-color: #DDDDDD;
  width: 100%;
  min-height: 150px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}
